
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}


body{
font-family: Arial, Helvetica, sans-serif;
color: #fff;
line-height: 1.6;

}
header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: color(0 0 0 0);
position: fixed;
width: 100%;
top: 0;
z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}
.logo h1 {
    
    font-size: 24px;
    color: #fff;

}
.navigacioni_meni ul{
list-style: none;
display: flex;
}

.navigacioni_meni ul li{
    margin: 0 15px;
}

.navigacioni_meni ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px ;
    transition: color 0.3s ease;
}
.navigacioni_meni ul li a:hover {
    color: blue;
}

.centrala {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/img/herkules.jpg) no-repeat center ;
    background-size: cover contain;
    background-color: gray;
    background-position: center 2.5%;
    text-align: center;
}

.centrala h2 {
    color: black;
    font-size: 36px;
    background-color: rgba(128, 128, 128, 0.333);
    padding: 20px;
    border-radius: 10px;
}
