body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #333;
}
.centar{
   display: flex;
   justify-content: space-around;
   padding: 2rem;
   gap: 2rem;
   margin-top: 2rem;
   text-align: center;
   
}
.sekcija {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px color(0 ,0, 0, 0);
    padding: 1rem;
    width: 45%;
    text-align: center;
}
.sekcija h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #444;
}
.stavka {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.stavka img {
    width: 150px; /* Prilagodite veličinu slike */
    height: 150px; /* Prilagodite veličinu slike */
    border-radius: 10px;
    object-fit: cover;
    margin: 10px;
    
}

p {
    margin: 5px 0 0;
    color: #333;
}

h1 {
    color: black;
    
}

@media (max-width:768px){
    .centar{
        flex-direction: column;
    }
    .sekcija{
        width: 100%;
        margin-bottom: 2rem;
    }
}



